/*
  多行注释 会编译到css中
*/
body {
  background-color: #cccccc;
}
a {
  color: #cccccc;
}
a:hover {
  color: #aaaaaa;
}
a:active {
  color: #dddddd;
}
button {
  color: #ffc0cb;
}
button:hover {
  color: #ff69b4;
}
button:active {
  color: #ffb6c1;
}
div {
  width: 22px;
  height: 60px;
  border-width: 10px;
  padding: 10px;
}
aside,
main {
  font-size: 24px;
  margin: 20px 30px 40px 50px;
}
main {
  color: #ccc;
  background-color: #fff;
}
